body{
    background-color: #EBC6D4;
}

.question-wrapper{
    position: relative;
    margin: 35px auto 0 auto;
    background-color: transparent;
    width: 65%;
    height: 10%;
}

.line1{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
    color: black;
    text-align: center;
}

/* --- Button Centering --- */
.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem; /* Provides spacing from the title */
  }
  
  .button {
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 2px solid #FF6863;
    border-radius: 4px;
    background-color: transparent;
    color: #FF6863;
    cursor: pointer;
    transition: all 0.1s linear;
    margin: 10px;
  }
  
  .button:hover {
    color: white;
    transform: scale(0.95);
    background-color: #FF6863;
  }

.questionGif{
    display: block;
    margin: -7% auto 0 auto;  /* margin: top left back right */
    background-color: transparent;
}

#page{
    position: relative;
}

.page-wrapper{
    height: 400px;
}